@charset "UTF-8";
/* line 1, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
a {
  text-decoration: none;
}

/* line 5, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.main {
  background: #f8f8f8;
}

/* 画面上部の「人生を変えるフリマアプリ」帯部分 */
/* line 10, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.title-contents {
  width: 100vw;
  background-image: url(/assets/header.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  height: 80vh;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

/* line 25, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.service-title {
  font-size: 8vh;
  margin: 0 auto;
}

/* line 29, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
}

/* line 34, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.store-btn {
  display: flex;
  margin-top: 24px;
}

/* line 39, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.apple-btn {
  margin-right: 1vw;
  height: 9vh;
}

/* line 44, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.google-btn {
  height: 9vh;
}

/* //画面上部の「人生を変えるフリマアプリ」帯部分 */
/* FURIMAが選ばれる3つの理由部分 */
/* line 51, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.select-reason-contents {
  padding: 5vh 15vw;
  background-color: #fff;
}

/* line 55, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.select-reason-contents > .title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}



/* line 74, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.reason-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* line 80, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.reason-lists > .list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* line 88, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.list-pict {
  margin-bottom: 20px;
  width: 100%;
}


/* line 106, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.reason-list-text {
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
}

/* line 112, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.reason-list-blue-text {
  color: #3ccace;
}

/* line 116, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.reason-list-description {
  font-size: 18px;
  margin-top: 20px;
}

/* //FURIMAが選ばれる3つの理由部分 */
/* 画面中央の「会員数日本一位」帯部分*/
/* line 125, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.ad-contents {
  width: 100vw;
  background-image: url(/assets/furima-header02-5042a3aa7eef6dd93330080028e3a781daf47c390c00a4fb5d7e7b06caae68c9.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

/* line 140, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.ad-title {
  font-size: 5vh;
  margin-bottom: 2vh;
}

/* line 145, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.ad-explain {
  font-size: 2.5vh;
  line-height: 30px;
}

/* line 150, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.store-btn {
  display: flex;
  margin-top: 24px;
}

/* line 155, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.apple-btn {
  margin-right: 1vw;
  height: 9vh;
}

/* line 160, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.google-btn {
  height: 9vh;
}

/* //画面中央の「会員数日本一位」帯部分 */
/* FURIMAの特徴 */
/* line 167, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.feature-contents {
  padding: 5vh 15vw;
}

/* line 171, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.feature-contents > .title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

/* line 179, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.feature-contents > .title::after {
  content: '';
  width: 70px;
  height: 4px;
  background-color: #3ccace;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

/* line 190, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.feature-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* line 196, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.feature-lists > .list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 203, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.feature-list-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 50px;
}

/* line 209, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.feature-list-description {
  font-size: 18px;
  margin-top: 20px;
}

/* //FURIMAの特徴 */
/* 商品一覧 */
/* line 218, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.item-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

/* line 226, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.item-contents > .title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

/* line 232, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.item-contents > .subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}

/* line 240, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* line 247, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.item-lists > .list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}

/* line 254, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.item-img-content {
  position: relative;
}

/* line 258, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.item-img {
  width: 33vh;
  height: 20vh;
}

/* line 263, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.sold-out {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  background-color: crimson;
  transform: skewY(-10deg);
}

/* line 272, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.sold-out > span {
  color: #FFF;
  font-size: 45px;
  font: bold;
}

/* line 279, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

/* line 285, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.item-name {
  font-size: 2.5vh;
}

/* line 289, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.item-price {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}

/* line 296, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.star-btn {
  display: flex;
  align-items: center;
}

/* line 301, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

/* line 307, /Users/groupdandy/projects/uchifuru32454/app/assets/stylesheets/lessons/index.scss */
.star-count {
  font-size: 2vh;
}

/* //商品一覧 */
